<%= title "Entry Hall" %>

<div id="posts-index-container", class="grid-x">
  <% @posts.each do |post| %>
    <div class="post-link-container cell small-4 medium-4 large-4">
      <%= link_to post_path(post) do %>
        <h3><%= post.title %></h3>
        <h6><%= post.user.email %></h6>
      <% end %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
