<%- title @post.title %>

<div id="post-container">
  <div class="post-title-container">
    <h3><%= @post.title %></h3>
    <p><%= @post.user.email %></p>
  </div>

  <div class="post-body-container">
    <p><%= @post.body %></p>
  </div>
</div>

<div id="comment-container">
    <% @comments.each do |comment| %>
      <p class="show-comment-container"><%= comment.body %></p>
    <% end %>

  <%= render partial: 'comments/form', locals: { post: @post } %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
